<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>You shouldn't be here</title>
</head>
<body>
<div style="display: grid;place-items: center">
    <h1>You shouldn't be here</h1>
    <iframe src="https://giphy.com/embed/EHKRUd3NpbHFe" width="480" height="480" frameBorder="0" class="giphy-embed"
            allowFullScreen></iframe>
    <p>
        {% if error == 500 %}
            Volte e confira se os campos estão corretos e preenchidos.
        {% endif %}
    </p>
</div>
</body>
</html>