h1,
h2 {
    text-align: center;
}


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 14px auto;
}

.logo img {
    width: 495px;
    height: 100%;
    border-radius: 2%;
}


p {
    font: 16px 'Raleway', sans-serif;
    font-weight: bold;
}

.selecionar {
    background-color: #fafafa;
    height: 100%;
    border: 0;
    border-bottom: 1px solid #fff;
    border-right: 1px solid rgba(255, 255, 255, .8);
    font-size: 16px;
    margin: 4px;
    padding: 5px;
    border-radius: 17px;
    box-shadow: -1px -1px 3px rgba(0, 0, 0, .3), 0 0 1px rgba(0, 0, 0, .2);
    width: 100%;
    text-align: center;
}


.submit {
    background-color: #4ea923;
    border: 0;
    color: #eee;
    cursor: pointer;
    font: 16px 'Raleway', sans-serif;
    font-weight: bold;
    height: 30px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    width: 84px;
    outline: none;
    border-radius: 30px;
    box-shadow: -1px -1px 3px rgba(255, 255, 255, .5), 0 0 1px rgba(0, 0, 0, .4);
    margin-top: 1%;
}

.submit:hover {
    background-color: #4ea923;
}

.submit:active {
    background-color: #4ea923;
}
